@import '../../styles/variables';

$spinnerSize: 150px;

.loader {
  position: fixed;
  top: $headerHeight;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background: rgba(255,255,255,.5);
}

%clearFix {
  content: "";
  position: relative;
  display: block;
}

.spinnerBorder {
  position: absolute;
  background: url('loader.svg');
  left:50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: $spinnerSize;
  height: $spinnerSize;
}
