{
  "env": {
    "browser": true,
    "node": true,
    "jasmine": true
  },
  "extends": ["airbnb-base",
    "plugin:react/recommended"
  ],
  "parser": "babel-eslint",
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"],
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  }
}
