{
  "env": {
    "browser": true,
    "node": true,
    "jasmine": true
  },
  "extends": [
    "airbnb-base",
    "plugin:react/recommended"
  ],
  "overrides": [
    {
      "files": [
        "**/*.test.js",
        "**/*.test.jsx",
        "spec/*.js"
      ],
      "env": {
        "jest": true
      }
    }
  ],
  "parser": "babel-eslint",
  "rules": {
    "no-underscore-dangle": [
      "error",
      {
        "allow": [
          "__REDUX_DEVTOOLS_EXTENSION__"
        ]
      }
    ]
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": [
          "src"
        ],
        "extensions": [
          ".js",
          ".jsx",
          ".ts",
          ".tsx"
        ]
      }
    },
    "react": {
      "createClass": "createReactClass",
      "pragma": "React",
      "version": "detect"
    },
    "propWrapperFunctions": [
      "forbidExtraProps",
      {
        "property": "freeze",
        "object": "Object"
      },
      {
        "property": "myFavoriteWrapper"
      }
    ],
    "linkComponents": [
      "Hyperlink",
      {
        "name": "Link",
        "linkAttribute": "to"
      }
    ]
  }
}
