@import '../../styles/variables';

.notFound {
  display: flex;
  flex-flow: column;
  font-size: 20px;
  text-align: center;
  p {
    padding-bottom: $defaultIndent;
  }
}
.code {
  font-size: 42px;
  line-height: 50px;
  color: #333;
  padding: $defaultIndent*2;
}
