@import '../../styles/variables';

.btn {
  border-radius: 4px;
  box-sizing: border-box;
  position: relative;
  font-size: 14px;
  -webkit-appearance: none;
  outline: none;
  transition: all 0.1s;
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 16px;
  line-height: 1.52857143;
  user-select: none;
  background-color: rgba(61, 94, 97, .9);
  color: #fff;
  &:hover {
    background-color: rgba(61, 94, 97, .8);
  }
  &:active {
    background-color: rgba(61, 94, 97, 1);
  }
}
.btnIcon {
  padding-left: 40px;
}
.icon {
  position: absolute;
  top: -3px;
  left: 10px;
  font-size: 25px;
}
