// Screen sizes - for media queries use: @media (min-width: $widthScreenMobileSmall) {}
$widthScreenMobileSmall:      320px;    // iPhone 5, SE
$widthScreenMobileMedium:     375px;    // iPhone 6,7,8,X
$widthScreenMobileLarge:      480px;    // iPhone (6,7,8) Plus, Xr, Xs Max, X Pro
$widthScreenTabletSmall:      600px;
$widthScreenTabletPortrait:   768px;    // iPad vertical
$widthScreenTabletDefault:    1024px;   // iPad horizontal
$widthScreenLaptopDefault:    1376px;
$widthScreenDisplayDefault:   1600px;
$widthScreenDisplayLarge:     1920px;

// Main settings
$bodyFont:          14px/18px Roboto, Arial, Tahoma, Verdana, sans-serif;
$bodyFontSize:      14px;
$indent:            30px;

// Header
$headerBackground: -webkit-linear-gradient(bottom, #23b7e5 0%, #51c6ea 100%);
$headerBorderColor: rgba(0,0,0,.2);
$headerTextColor: #fff;
$headerIndent: 15px;
$navActiveBackground: -webkit-linear-gradient(top, #23b7e5 0%, #51c6ea 100%);
