@import './variables';

* {margin: 0;padding: 0;}
header, nav, section, article, aside, footer, figcaption, figure, details, hgroup {display: block;}
audio,canvas,video {display: inline-block;}
html {height: 100%;font-size: 100%;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;}

body {
  font: $bodyFont;
  width: 100%;
  height: 100%;
  background: #f2f2f2;
}

a{outline:none;text-decoration:underline;}
a:hover{text-decoration: none;}
img {border:none;}
ul, ol {margin:0;padding:0;}

p {
  margin: 0 0 10px;
}

input {vertical-align: middle;}

.clear {clear: both;}
.clearfix:after {display: block;content: "";clear: both;}
