@media screen and (max-width:960px) {
  #root {
    .wrapper {
      width: 100%;
    }
  }
}
@media screen and (max-width:654px) {
  #root {
    .home-info__title-version {
      text-align: center;
      margin-top: 5px;
    }
  }
}
@media screen and (max-width:450px) {
  .header__menu {
    display: none;
  }
  .header__menu-mobile {
    display: block;
  }
}