.item {
  padding: 16px;
  margin-bottom: 16px;
  border-radius: 3px;
  border: 1px #e5e5e5 solid;
}

.name {
  color: #4078c0;
  font-size: 16px;
}

.desc {
  font-size: 14px;
  margin-bottom: 16px;
  margin-top: 8px;
  color: #767676;
  font-weight: 100;
}

.panel {
  &:after {
    clear: both;
    content: '';
    display: block;
  }
}

.property {
  float: left;
  color: #767676;
  font-weight: 100;
}

.fa {
  margin-right: 5px;
}

.stars {
  @extend .property;
  float: right;

  .fa {
    margin-right: 0;
  }
}

.size {
  @extend .property;
  margin-left: 50px;
}


.githubIcon {
  float: right;
  font-size: 24px;
  margin-top: -6px;
}
