@import '../../styles/variables';

.header {
  background: $headerBackground;
  width: 100%;
  min-width: $widthScreenMobileSmall;
  border-bottom: 1px solid $headerBorderColor;
  display: flex;
  flex-flow: row;
  box-sizing: border-box;
  justify-content: space-between;
}

.logoBlock {
  padding: 10px 0;
  margin-left: $headerIndent;
  display: flex;
  flex-flow: row;
}

.logo {
  width: 32px;
  height: 32px;
  font-size: 32px;
  color: $headerTextColor;
}

.name {
  font-size: 22px;
  line-height: 32px;
  height: 32px;
  font-weight: 100;
  margin-left: $headerIndent;
  color: $headerTextColor;
  text-decoration: none;
}
