$background: #f5f5f5;
$indent: 15px;

.header {
  background: $background;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e5e5e5;
}

.wrapper {
  width: 100%;
  min-width: 960px;
  margin: 0 auto;
  box-sizing: border-box;
  &:after {
    display: block;
    content: "";
    clear: both;
  }
}

.logo {
  width: 32px;
  height: 32px;
  background-image: url(https://avatars.githubusercontent.com/u/23641337?v=3);
  background-size: cover;
  float: left;
  margin-left: $indent;
  border-radius: 2px;
}

.name {
  float: left;
  font-size: 22px;
  line-height: 32px;
  height: 32px;
  font-weight: 100;
  margin: 0 $indent;
  color: #000;
  text-decoration: none;
}

.menu {
  float: right;
  padding: 0 $indent/2;
}

.menuItem {
  color: #4078c0;
  display: inline-block;
  padding: 7px $indent/2;
  text-decoration: none;
  font-size: 14px;
  font-weight: 100;
}

.menuItemActive {
  color: #333;
  text-decoration: none;
  font-weight: 500;
}

.menuMobile {
  display: none;
  float: right;
  font-size: 22px;
  line-height: 22px;
  color: #999;
  padding: 5px 0 4px;
  margin: 0 20px;
  cursor: pointer;
}

