@import '../../styles/variables';


.homeInfo {
  text-align: center;
}

.homeLogo {
  display: flex;
  flex-flow: column;
  .image {
    font-size: 128px;
    padding: $defaultIndent;
    color: $logoColor;
  }
  .name {
    line-height: 56px;
    font-size: 56px;
    font-weight: 100;
    padding-top: 10px;
  }
  .text {
    padding: 20px;
    font-size: 20px;
    color: #333;
    font-weight: 100;
    line-height: 30px;
    margin-bottom: 30px;
  }
}

.version {
  font-size: 18px;
  line-height: 22px;
  text-align: left;
  margin-left: 5px;
}

.button {
  padding-bottom: 20px;
}
