.authorInfo {
  text-align: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.logo {
  width: 150px;
  height: 150px;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 30px auto;
}

.title {
  line-height: 56px;
  font-size: 56px;
  font-weight: 100;
  vertical-align: top;
  padding-bottom: 10px;
}

.titleVersion {
  font-size: 18px;
  line-height: 22px;
  margin-left: 5px;
}

.infoText {
  padding: 20px;
  font-size: 20px;
  color: #333;
  font-weight: 100;
  line-height: 30px;
  margin-bottom: 10px;
}

.button {
  padding-bottom: 20px;
}
